.tool{
	margin-bottom: 5px;
	margin-left: 5px;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.tool:hover {
	cursor: pointer;
}
.tool_sep {
	border: none;
	border-bottom: 1px solid #ccc;
	height: 0;
	padding: 0 1px 0 1px;
	margin-left: 5px;
	margin-bottom: 5px;
}